.reservation-card {
  background-color: white;
  width: 160px;
  padding: 20px;
  /* margin: 20px; */
  border-radius: 15px;
  border: 5px solid #038080;
}

.reservations-container {
  /* padding: 10px; */
  /* margin-bottom: 40px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 80px;
  place-items: center;
}